<div class="row">
	<!-- Step.1 -->
	<div class="col-sm-6">
		<div class="card" style="height: 100%;">
			<div class="card-body">
				<h3 class="card-title">註冊帳號</h3>
				<p class="card-text">
					<div class="alert alert-warning" role="alert">
						初次使用請先點選「註冊帳號」。<br>
						若沒收到帳號開通信，請點選「寄送開通信」。<br><br>
						<font color="blue">臺師大僑先部學生</font>請以學校 E-MAIL 帳號（例如: lks90XXXXXXX@ntnu.edu.tw）直接登入，第一次登入請使用忘記密碼功能更新密碼
					</div>
				</p>
				<p class="card-text">
					港澳註冊帳號人數： <span id="HK_MacaoNum"></span><br>
					海外註冊帳號人數： <span id="otherNum"></span>
				</p>
				<a href="./treaty.html" class="btn btn-primary">註冊帳號</a>
			</div>
		</div>
	</div>
	<!-- Step.2 -->
	<div class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">登入系統</h3>
				<p class="card-text">
					<div class="alert alert-danger" role="alert">
						<h5>注意！</h5>
						<blockquote class="blockquote">
							<p class="mb-0 ml-2">
								填報資料請使用繁體中文。<br>
								建議使用 Chrome 瀏覽器操作本會系統，以免部分功能無法正常執行。
							</p>
						</blockquote>
						<blockquote class="blockquote">
							<p class="mb-0 ml-2">
								若您使用本系統，即表示同意本會「個人資料蒐集、處理及利用告知事項」<a href="./static/363_海外聯合招生委員會報名考生個人資料蒐集、處理及利用告知事項.pdf" target="_blank"> &gt;下載&lt; </a>
							</p>
						</blockquote>
					</div>
				</p>
				<p class="card-text"></p>
				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label">帳號</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">密碼</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
				</div>
				<div class="form-group row">
					<div class="offset-sm-2 col-sm-10">
						<a href="javascript:;" class="btn btn-success" id="btn-login">登入</a>
						<a href="./resend.html" class="btn btn-info" id="btn-forgetPasswd">忘記密碼</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="form-group row">
	<div class="col-md-10 offset-md-1">
		<div class="list-group" id="download-links">
			<div class="list-group-item active">
				相關下載
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/gh/emn178/js-sha256/src/sha256.js"></script>

